:root {
    --mainColor: rgb(179, 116, 126);
    --mainColorLight: rgb(187, 49, 49);
    --secondaryColor: rgb(197, 54, 85);
    --textColor: white;
}
.navbar {
    /* font-size: 2.5rem; */
    margin-right: 50px;
    text-align: justify;
    justify-content: space-between;
    /* width: auto; */
    /* position: fixed; */
    display: flex;
    align-items: center;
    /* text-decoration: none; */
    /* list-style: none; */
    background-color: var(--mainColor); 
    width: 100vw;
    /* float: none; */
    height:80px ;
    margin-top: -20px;
    font-weight: bold;
    color: rgb(0, 15, 15);
    vertical-align: top;
}
.nav{
    text-decoration: none;
    list-style: none;
}
.head {
    font-size: 2.5rem;
    margin-right: 50px;
    align-items: center;
    text-align: justify;
    display: flex;
    color: blueviolet;
}
.head:hover {
    color: var(--secondaryColor);
}
.navbar a{
    margin-left: 15px;
    color: var(--secondary-color);
}
.about{
    cursor: pointer;
}