.contact {
   
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background: rgba(196, 24, 167, 0.514);
    color: white;
}
.contact-title {
    width: 40%;
    padding-top: 30px;
}

.contact-pages{
    width: 40%;
    padding-top: 30px;
 
}
img{
    height: 50vh;
    width: 50%;
}